body {
    margin: 0;
    font-family: Georgia, serif;
    background: #f6f4f2;

}

/* CENTER */
.container {
    max-width: 650px;
    margin: 60px auto;
    padding: 0 20px;
}

/* HEADER */
.header h1 {
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-bottom: 6px;
}

.header p {
    margin-bottom: 25px;
    font-size: 20px;
    color: #888;
    line-height: 1.5;
}

/* CARD */
.form-card {
    background: white;
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.06);
}

/* ROW */
.row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.field {
    flex: 1;
}

.field label {
    font-size: 18px;
    font-weight: 500;
    color: #555;
}

/* INPUTS */
input, select, textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ddd;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 18px;
    outline: none;
}

/* FOCUS EFFECT  */
input:focus, select:focus, textarea:focus {
    border-color: #b85c38;
    box-shadow: 0 0 0 2px rgba(184,92,56,0.15);
}

/* TEXTAREA */
textarea {
    resize: none;
}

/* BUTTONS */
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 10px;
}

.cancel-btn {
    background: #eee;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: Georgia, serif;
}

.cancel-btn:hover {
    background: #ddd;
}

.save-btn {
    background: #b85c38;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-family: Georgia, serif;
}

.save-btn:hover {
    background: #9e4b2d;
}

@media (max-width: 600px) {
    .row {
        grid-template-columns: 1fr;
    }
}
