body.auth-body {
    background: #f6f3f1;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
/* GLOBAL */
* {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

/* Card */
.auth-container {
    background: white;
    padding: 40px;
    border-radius: 16px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* Icon */
.logo {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo img {
    width: 60%;
    height: auto;
    object-fit: contain;
}

/* Text */
h1 {
    margin-top: 15px;
}

.subtitle {
    color: gray;
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ddd;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: #b85c38;
    color: white;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

/* Link */
.switch {
    margin-top: 15px;
}

.switch a {
    color: #b85c38;
    text-decoration: none;
}